#contact-info{
  @media screen and (orientation: landscape){
    padding-top: 15vh;
    padding-left: 15vw;
    padding-right: 15vw;
    width: 70vw;
    height: 85vh;
    font-size: 1.5vw;
  }
  @media screen and (orientation: portrait){
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
    height: 45vh;
    font-size: 3vw;
  }



  #inner-contact {
    height: 100%;
  }
  #contact-container {
    text-align: justify;
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    #contact-list {
      display: grid;
      grid-template-rows: 33% 33% 33%;
      p{
        align-self: center;
        display: grid;
        grid-template-columns: 8% auto;
        align-items: center;
        a {
          padding-left: 5%;
          width: 100%;
          text-decoration: none;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
