<iframe src="https://mateuszsuder.github.io/starsBackground/" frameborder="0">
</iframe>



<div id="info">
  <div id="inner-info">
    <div class="bookmark">
      <p>
        About me
      </p>
    </div>
    <h1>Mateusz Suder</h1>
    <h2>Frontend Developer</h2> <br>
    <div id="info-text">
      <p>I'm hard-working IT student who looks forward to learn a lot more. Programming is my passion, I never give up, I'm always trying to learn something
      new.</p>
      <p>I love challenges, I always work hard to accomplish the goal no matter how long it takes. I'm always trying to make my code as clear as possible
      and also I'm learning really quick.</p>
      <p>Beside programming I'm really into video games especially retro/classic ones like Tetris, Minesweeper and Slot Machines, that's why
      I'm mostly focused on learning PixiJS so I can keep my games in HTML tag.</p>
   </div>
  </div>
</div>
