#info {
  @media screen and (orientation: landscape){
    padding-top: 15vh;
    padding-left: 15vw;
    padding-right: 15vw;
    height: 85vh;
    width: 70vw;
  }
  @media screen and (orientation: portrait){
    padding: 5vh 5vw 5vh;
    min-height: 45vh;
    height: auto;
    width: 90vw;
  }


  @media screen and (orientation: landscape){
    h1 {
      font-size: 3vw;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      position: relative;
    }
    h2 {
      font-size: 2.5vw;
      position: relative;
    }
    p {
      font-size: 1.5vw;
      position: relative;
      text-align: justify;
    }
  }
  @media screen and (orientation: portrait){
    h1 {
      font-size: 4vw;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      position: relative;
    }
    h2 {
      font-size: 3vw;
      position: relative;
    }
    p {
      font-size: 2.5vw;
      position: relative;
      text-align: justify;
    }
  }
  #inner-info{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

iframe {
  z-index: -1;
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
}
