iframe {
  width: 100%;
  bottom: 0;
  @media screen and (orientation: portrait){
    height: 30vh;
  }
  @media screen and (orientation: portrait){
    height: 15vh;
  }
}

#skill-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (orientation: landscape){
    padding-top: 15vh;
    padding-left: 15vw;
    padding-right: 15vw;
  }
  @media screen and (orientation: portrait){
    padding: 5vh 5vw 5vh;
    min-height: 45vh;
    height: auto;
    width: 90vw;
  }
  width: 70vw;
  height: 85vh;
  @media screen and (orientation: landscape){
    font-size: 1.5vw;
  }
  @media screen and (orientation: portrait){
    font-size: 2.5vw;
  }


  #inner-skill {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
  }
}
