<div id="skill-info">
  <div id="inner-skill">
    <div class="bookmark">
      <p>
        Skills
      </p>
    </div>
    <div id="skill-text">
      <p>
        My Technology Stack is strictly Frontend with Angular as main framework. In my projects I use TypeScript, I have
        high knowledge of ES6+ JS, and im bundling it with webpack. For styling I use SCSS and PixiJS for animations.
      </p><br>
      <p>
        Here's full list of what I use in my projects:
      </p>
    </div>
    <iframe src="https://mateuszsuder.github.io/Pixi-Skills/" frameborder="0" id="skills-frame"></iframe>
  </div>
</div>

