iframe {
  height: 30vh;
  width: 100%;
  bottom: 0;
}

#skill-info{
  padding-top: 15vh;
  @media screen and (orientation: landscape){
    padding-left: 15vw;
    padding-right: 15vw;
  }
  @media screen and (orientation: portrait){
    padding-left: 15vw;
    padding-right: 15vw;
  }
  width: 70vw;
  height: 85vh;
  font-size: 1.5vw;

  #inner-skill {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
  }
}
