/* You can add global styles to this file, and also import other style files */
$mainColor: #242a32;
$secColor: #161a1f;
$borderMain: #37424f;
$fontColor: #6c8199;
$mainFont: "Courier New", Courier, monospace;
$secFont: "Lucida Console", Monaco, monospace;


@mixin headerHover {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: $fontColor;
    height: 3px;
    width: 150%;
  }
}

@mixin centerChildren($spaceAround: 0) {
  display: flex;
  @if $spaceAround == 0{
    justify-content: center;
  }
  @if $spaceAround == 1{
    justify-content: space-around;
  }
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: $mainFont;
  color: $fontColor;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $mainColor;
}

#header {
  background-color: $secColor;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $borderMain;
  position: fixed;
  z-index: 1;
  top: 0;

  .bkmrk {
    color: $fontColor;
    font-family: $secFont;
    font-weight: bold;
    @include centerChildren(0);
    &:hover {
      @include headerHover;
    }
  }
}

#header, #header-container {
  @include centerChildren(1);
}

#info > p:last-child {
  &:before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $fontColor;
  height: 1px;
  width: 50%;
  }
  &:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $fontColor;
    width: 1px;
    height: 75%;
  }
}

#info, #skill-info {
  position: relative;
  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $fontColor;
    height: 1px;
    width: 100%;
  }
}

.bookmark{
  padding-bottom: 4vh;
  p{
    font-weight: bold;
    font-size: 4vw!important;
    position: relative;
    float: right;
    padding-left: 1vw;
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $fontColor;
      height: 1px;
      width: 70%;
    }
    &:before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $fontColor;
      height: 50%;
      width: 1px;
    }
  }
}
